{% extends 'layouts/base.html' %} {% block title %}Registration Form{% endblock %}  {% block intro %}{% endblock %} 
{% block content %}
<div class="container-fluid mx-auto my-3 align" id="register">
  <ul class="nav nav-pills mb-3 d-flex justify-content-center
    id="pills-tab"
    role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-home"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
      >
        Register New School
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-profile"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
        Pupil Registration Form
      </button>
    </li>
  </ul>
  {% if error %}
    <p class="error"><strong>{{ error }}</strong></p>
  {% endif %}
  <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
    >
      <form action="{{ url_for('new_school') }}" class="form" id="form" method="post">
        <div class="form-group w-100">
          <label for="name" class="form-label">Name of School:</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ request.form['name'] }}" required>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ request.form['email'] }}" required>
        </div>
        <div class="form-group">
          <label for="state" class="form-label">State:</label>
          <input type="text" class="form-control" id="state" name="state" value="{{ request.form['state'] }}" required>
        </div>
        <div class="form-group">
          <label for="city" class="form-label">City:</label>
          <input type="text" class="form-control" id="city" name="city" required value="{{ request.form['city'] }}" >
        </div>
        <div class="form-group">
          <label for="address" class="form-label">Address:</label>
          <input type="text" class="form-control" id="address" name="address" value="{{ request.form['address'] }}" required>
        </div>
        <div class="form-group">
          <label for="phone" class="form-label">Phone Number:</label>
          <input type="number" class="form-control" id="phone" name="phone" value="{{ request.form['phone'] }}" required>
        </div>
        <div class="form-group">
          <label for="image_link" class="form-label">Logo URL:</label>
          <input type="url" class="form-control" id="image_link" name="image_link" value="{{ request.form['image_link'] }}" required>
        </div>
        <div class="form-group">
          <label for="website_link" class="form-label">Site address:</label>
          <input type="url" class="form-control" id="website_link" name="website_link" value="{{ request.form['website_link'] }}" required>
        </div>
        <div class="form-check">
          <input type="checkbox" name="agreement" id="agreement" class="form-check-input" required value="1">
          <label for="agreement" class="form-label">Agreed to terms and conditions</label>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
    <form action="{{ url_for('new_pupil') }}" class="form" id="form" method="post">
      <div class="form-group">
        <label for="name" class="form-label">Name of Pupil (Full Name):</label>
        <input type="text" class="form-control" id="name" name="name" required value="{{ request.form['name'] }}">
      </div>
      <div class="form-group">
        <label for="parent_name" class="form-label">Parent's Name:</label>
        <input type="text" class="form-control" id="parent_name" name="parent_name" required value="{{ request.form['parent_name'] }}">
      </div>
      <div class="form-group">
        <label for="parent_name" class="form-label">Choose desired school:</label>
        <select name="desired-school" id="desired-school"  class="form-control">
          {% for school in schools %}
            <option aria-placeholder="select school" value="{{ school.id }}">{{ school.name }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="level" class="form-label">Level:</label>
        <select name="level" id="level" class="mt-2">
        {% for x in range(1,10) %}
            <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="state" class="form-label">State:</label>
        <input type="text" class="form-control" id="state" name="state" required value="{{ request.form['state'] }}">
      </div>
      <div class="form-group">
        <label for="city" class="form-label">City:</label>
        <input type="text" class="form-control" id="city" name="city" required value="{{ request.form['city'] }}">
      </div>
      <div class="form-group">
        <label for="address" class="form-label">Address:</label>
        <input type="text" class="form-control" id="address" name="address" required value="{{ request.form['address'] }}">
      </div>
      <div class="form-group">
        <label for="dob" class="form-label">Date of Birth:</label><small class="form-text text-muted">Must be 2years older</small>
        <input type="date" min="1990-01-01" max="2020-12-31" class="form-control" id="dob" name="dob" required value="">
      </div>
      <div class="form-check">
        <input type="checkbox" name="agreement" id="agreement" class="form-check-input" required value="y">
        <label for="agreement" class="form-label">Agreed to terms and conditions</label>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
