<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %} {{ bootstrap.load_css() }} {% endblock %}
    <link rel="stylesheet" href="/static/css/styles.css" />

    <title>{% block title %}Receipt Generator {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <!-- Nav and Header begins here -->
    <section id="nav-bar" class="">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid align-items-center">
          <a class="navbar-brand rounded-pill" href="{{ url_for('index') }}"
            >EduBank</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="collapsibleNavbar"
          >
            <ul class="navbar-nav navBtns">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}"
                  >Register</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('select_school') }}"
                  >Deposit</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('input_ref_number') }}">
                  Print Receipt</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <!-- Nav and Header ends here -->
    {% endblock %} {% block intro %}
    <!-- Page content -->
    <!-- Intro section begins here -->
    <section
      id="bg"
      class=""
      style="background-image: url('/static/img/img2.jpg')"
    >
      <div
        class="color-overlay d-flex justify-content-center align-items-center"
      >
        <div class="text-center p-5">
          <h5 class="display-2">Welcome to Edubank</h5>
          <p class="lead-2">
            EduBank is a school banking application which serves three major
            day-to-day activities that occur at schools.
          </p>
          <a href="#services" class="btn bg-light btn-sm">Learn More</a>
        </div>
      </div>
    </section>
    {% endblock %}
    <!-- Intro section ends here -->

    {% block content %}
    <!-- User Activities begin here -->
    <section class="bg-light display-2 mt-3 view-100">
      <div class="container-lg">
        <p class="text-center display-2" id="services">Our Services</p>
        <p class="lead text-muted text-center">
          EduBank makes life easy for both end-to-end product users by handling
          the following activities:
        </p>
        <div class="row my-5 align-items-center justify-content-center">
          <div class="col-8 col-lg-4 col-xl-3 mb-3 mx-xl-5 rounded">
            <div class="card border-0">
              <div class="card-body py-4 text-center">
                <h4 class="card-title">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-server"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"
                    />
                    <path
                      d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"
                    />
                    <path
                      d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"
                    />
                  </svg>
                </h4>
                <p class="lead card-text text-muted">
                  Our services cover the registration of schools for free. We
                  also handle the registration of pupils into their various
                  desired schools.
                </p>
              </div>
            </div>
          </div>
          <div class="col-8 col-lg-4 col-xl-3 mb-3 rounded">
            <div class="card border-0">
              <div class="card-body py-4 text-center">
                <h4 class="card-title">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-shield-fill-check"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"
                    />
                  </svg>
                </h4>
                <p class="lead card-text text-muted">
                  We solve some of the challenges faced by local schools and
                  colleges as regards payments from their stakeholders,
                  misplacement or loss of receipts which raises arguments and
                  disagreements among both parties.
                </p>
              </div>
            </div>
          </div>
          <div class="col-8 col-lg-4 col-xl-3 mb-3 rounded">
            <div class="card border-0">
              <div class="card-body py-4 text-center">
                <h4 class="card-title">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-calendar2-day"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M4.684 12.523v-2.3h2.261v-.61H4.684V7.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V9.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V8.418h-.672v4.105z"
                    />
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"
                    />
                    <path
                      d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"
                    />
                  </svg>
                </h4>
                <p class="lead card-text text-muted">
                  Parents or guardians can now make payments at their covenience
                  while receipts can always be generated, easily, and presented
                  when needed.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="m-4">
      <div class="row align-items-center justify-content-center view-50-sm">
        <p class="text-center display-2">Getting Started</p>
        <div
          class="col-8 col-md-7 col-lg-4 col-xl-4 uCards card-width bg-light text-center my-2"
        >
          <div class="card border-0 bg-dark text-white">
            <div class="card-body">
              <p class="card-title display-5 fw-bold">Register</p>
              <div class="card-text text-muted">
                Register your school or pupils, here.
                <div class="d-flex justify-content-center">
                  <a
                    href="{{ url_for('register') }}"
                    class="btn reg--btn btn-primary my-2 mx-3"
                    >Start</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-8 col-md-7 col-lg-4 col-xl-4 uCards card-width w-lg-75 bg-light text-center my-2"
        >
          <div class="card border-0 bg-dark text-white">
            <div class="card-body">
              <p class="card-title display-5 fw-bold">Deposit</p>
              <div class="card-text text-muted">
                Make any form of deposit to your desired school without any
                worries.
                <div class="d-flex justify-content-center">
                  <a
                    href="{{ url_for('select_school') }}"
                    class="btn btn-success my-2 mx-3"
                    >Start</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-8 col-md-7 col-lg-4 col-xl-4 uCards card-width w-lg-75 bg-light text-center my-2"
        >
          <div class="card border-0 bg-dark text-white">
            <div class="card-body">
              <p class="card-title display-5 fw-bold">Receipt</p>
              <div class="card-text text-muted">
                All you need to get going is your reference number. Insert and
                print your receipt, anytime.
                <div class="d-flex justify-content-center">
                  <a
                    href="{{ url_for('input_ref_number') }}"
                    class="btn btn-info my-2 mx-3"
                    >Start</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- User Activities end here -->
    {% endblock %}

    <!--JavaScript Bootstrap-->
    {% block scripts %} {{ bootstrap.load_js() }} {% endblock %}

    <!-- footer goes here -->
    {% block footer %}
    <!-- Footer -->
    <section id="footer" class="">
      <div class="container-fluid h-50 bg-dark mt-2 pt-4">
        <div class="row">
          <div id="socials" class="col-12">
            <ul class="d-flex justify-content-center">
              <li class="mx-3">
                <a href="https://facebook.com/oyewale.m.ibnsheikh"
                  ><img class="fb" src="/static/icons/facebook.svg" alt=""
                /></a>
              </li>
              <li class="mx-3">
                <a href="https://twitter.com/OyewaleM"
                  ><img class="fb" src="/static/icons/twitter.svg" alt=""
                /></a>
              </li>
              <li class="mx-3">
                <a href="https://github.com/Abi0l9"
                  ><img class="fb" src="/static/icons/github.svg" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="text-white w-50 m-auto hr">
            <hr />
          </div>
          <div id="services" class="col-12">
            <p class="lead-1 text-white text-center">EduBank © 2022.</p>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
