<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %} {{ bootstrap.load_css() }} {% endblock %}
    <link rel="stylesheet" href="/static/css/styles.css" />

    <title>{% block title %}Receipt Generator {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <!-- Nav and Header begins here -->
    <section id="nav-bar" class="">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid align-items-center">
          <a class="navbar-brand rounded-pill" href="{{ url_for('index') }}"
            >EduBank</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="collapsibleNavbar"
          >
            <ul class="navbar-nav navBtns">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}"
                  >Register</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-- Nav and Header ends here -->
    {% endblock %} {% block intro %}
    <!-- Page content -->
    <!-- Intro section begins here -->
    <section
      id="bg"
      class=""
      style="background-image: url('/static/img/img2.jpg')"
    >
      <div
        class="color-overlay d-flex justify-content-center align-items-center"
      >
        <div class="text-center p-5">
          <h5 class="display-2">Welcome to Edubank</h5>
          <p class="lead-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo unde
            vero sapiente, adipisci reprehenderit rem assumenda repudiandae eos
            sint odio.
          </p>
          <a href="/" class="btn bg-light btn-sm">Learn More</a>
        </div>
      </div>
    </section>
    {% endblock %}
    <!-- Intro section ends here -->

    {% block content %}
    <!-- User Activities begin here -->
    <section class="bg-light display-2 mt-3 view-100">
      <div class="container-lg">
        <p class="text-center display-2">Our Services</p>
        <p class="lead text-muted">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          ratione nemo fugiat quasi excepturi voluptatum error et? Fugiat,
          tempore nihil.
        </p>
        <div class="row my-5 align-items-center justify-content-center">
          <div class="col-8 col-lg-4 col-xl-3 mb-3 mx-xl-5 rounded">
            <div class="card border-0">
              <div class="card-body py-4 text-center">
                <h4 class="card-title">Lorem</h4>
                <p class="lead card-text text-muted">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
                  corporis, nesciunt soluta tempora possimus illum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-8 col-lg-4 col-xl-3 mb-3 rounded">
            <div class="card border-0">
              <div class="card-body py-4 text-center">
                <h4 class="card-title">Lorem</h4>
                <p class="lead card-text text-muted">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
                  corporis, nesciunt soluta tempora possimus illum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-8 col-lg-4 col-xl-3 mb-3 rounded">
            <div class="card border-0">
              <div class="card-body py-4 text-center">
                <h4 class="card-title">Lorem</h4>
                <p class="lead card-text text-muted">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
                  corporis, nesciunt soluta tempora possimus illum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="m-4">
      <div class="row align-items-center justify-content-center view-50-sm">
        <p class="text-center display-2">Getting Started</p>
        <div
          class="col-8 col-md-7 col-lg-4 col-xl-4 uCards card-width bg-light text-center my-2"
        >
          <div class="card border-0 bg-dark text-white">
            <div class="card-body">
              <p class="card-title display-5 fw-bold">Open Account</p>
              <div class="card-text text-muted">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <div class="d-flex justify-content-center">
                  <a href="" class="btn btn-primary btn-sm my-2 mx-3">School</a>
                  <a href="" class="btn btn-primary btn-sm my-2 mx-3">Child</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-8 col-md-7 col-lg-4 col-xl-4 uCards card-width w-lg-75 bg-light text-center my-2"
        >
          <div class="card border-0 bg-dark text-white">
            <div class="card-body">
              <p class="card-title display-5 fw-bold">Deposit</p>
              <div class="card-text text-muted">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <div class="d-flex justify-content-center">
                  <a href="" class="btn btn-success my-2 mx-3">Make Deposit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-8 col-md-7 col-lg-4 col-xl-4 uCards card-width w-lg-75 bg-light text-center my-2"
        >
          <div class="card border-0 bg-dark text-white">
            <div class="card-body">
              <p class="card-title display-5 fw-bold">Receipt</p>
              <div class="card-text text-muted">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <div class="d-flex justify-content-center">
                  <a href="" class="btn btn-info my-2 mx-3">Print Receipt</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- User Activities end here -->
    {% endblock %}

    <!--JavaScript Bootstrap-->
    {% block scripts %} {{ bootstrap.load_js() }} {% endblock %}

    <!-- footer goes here -->
    {% block footer %}
    <!-- Footer -->
    <section id="footer" class="">
      <div class="container-fluid h-50 bg-dark mt-2 pt-4">
        <div class="row">
          <div id="socials" class="col-12">
            <ul class="d-flex justify-content-center">
              <li class="mx-3">
                <a href="#"
                  ><img class="fb" src="/static/icons/facebook.svg" alt=""
                /></a>
              </li>
              <li class="mx-3">
                <a href="#"
                  ><img class="fb" src="/static/icons/twitter.svg" alt=""
                /></a>
              </li>
              <li class="mx-3">
                <a href="#"
                  ><img class="fb" src="/static/icons/github.svg" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="text-white w-50 m-auto hr">
            <hr />
          </div>
          <div id="services" class="col-12">
            <p class="lead-1 text-white text-center">EduBank © 2022.</p>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
