* {
  margin: 0;
}

#hero {
  height: 50rem;
  background-image: url("/img/img2.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#bg {
  background: no-repeat center center;
  background-size: cover;
  color: white;
}

.color-overlay {
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-width {
  min-width: 20rem;
  min-height: 20px;
}

section {
  scroll-snap-type: both mandatory;
}

.fb,
.tw,
.gt {
  width: 30px;
  height: 30px;
}

/* Register page */
#register {
  min-height: 100vh;
}

label {
  font-size: 0.8rem;
}
