{% extends 'layouts/base.html' %} {% block title %}Deposit{% endblock %} {%
block intro %}{% endblock %} {% block content %}
<div class="container-fluid my-5 mx-auto register" id="select-school">
  <form
    action="{{ url_for('print_receipt') }}"
    method="post"
    class="form form-group"
    id="form"
  >
    <div class="form-group">
      <label for="ref_num">Input Reference Number:</label>
      <input
        type="text"
        name="ref_num"
        id="ref_num"
        class="form-control"
        value=""
        required
      />
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
{% endblock %}
